* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
  color: #333333;
}
body{
  max-width: 1400px;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 1em;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.icon {
  font-size: 2rem;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}
.logo {
  display: flex;
  align-items: center;
  margin-block: 1em;
}
.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}
.logo-icon{
  width: 3rem;
}
.nav-link {
  
  font-size: 1.1rem;
  font-weight: 500;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

/* Skip Navigation Link */
.skip-nav-link {
  border: 2px solid #333333;
  padding: 8px 20px;
  padding-left: 40px;
  border-radius: 40px;
  position: absolute;
  left: -240px;
  top: 80px;
  transition: 3s;
}
.skip-nav-link:focus {
  left: -20px;
  transition: 1s;
}

/* Hero Section */
.hero-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 padding-block: 2em;
 gap: 1em;
}
.hero-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.hero-heading {
  font-size: clamp(3rem, 6vw, 4rem);
  font-weight: 700;
}
.hero-heading span {
  color: #007000;
  font-weight: 700;
  line-height: 1;
}
.hero-text {
  font-size: 1.1rem;
  /* max-width: 70%; */
}
.hero-image {
 max-width: 60%;
}
.hero-link {
  border: 2px solid #333333;
  border-radius: 20px;
  padding: .5em 1em;
  
}

/* Info Section */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 900px;
  margin: 0 auto;
  
}

.info-heading {
  font-size: 2rem;
  text-align: center;
}
.info-text{
  margin-block: 1em;
}
.info a {
  color: #007000;
  text-decoration: underline;
}
.statistics {
  
  width: 100%;
  
  flex-direction: column;
  background-color: #333333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  
}
.info-image {
 width: 70%;
}
.stat{
  text-align: center;
  margin-block: 1em;
}
.stat-heading {
  color: #cccccc;
  font-size: 1.25rem;
  font-weight: 500;
  
}
.stat-number {
  font-size: 1.5rem;
  font-weight: 500;
  
}
.stat p {
  color: #ffffff;
}

/* About Section */
.about-section {
  background-color: rgba(255, 255, 255, .8);
  background-blend-mode: lighten;
  background-image: url('../images/clouds.jpg');
  background-size: cover;
  border: 2px solid #333333;
  margin: 2em auto;
  border-radius: 5px;
  padding: 1em;
  scroll-behavior: smooth;
  max-width: 900px;
}
.about-heading {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}
.about span {
  color: #007000;
}

.about-link {
  border: 2px solid #333333;
  border-radius: 20px;
  padding: .5em 1em;
  margin-block: 1em;
  
} 

.about-text{
  margin-block: 1em;
}

/* contact Form */
.form-section {
  text-align: center;
  scroll-behavior: smooth;
  max-width: 900px;
  margin: 0 auto;
}

.form-heading {
  font-size: 2rem;
}

.form-intro {
  font-size: 1.25rem;
  margin-block: 1em;
}

.input {
  display: block;
  width: 80%;
  margin: 5px auto 10px;
  border-radius: 20px;
  padding: .5em 1em;
  border: 2px solid #333333;
  
}
.input::-webkit-input-placeholder {
  color: #555555;
}
.submit-button {
  border: 2px solid #333333;
  padding: .5em 1em;
  border-radius: 20px;
  margin-block: 1em;
 }

 .submit-button:hover {
  background-color: #dddddd;
  cursor: pointer;
}

/* Footer */
.footer {
  background-color: #333333;
  padding: 1em;
  width: 100%;
}
.social-links {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  color: #ffffff;
}
.social-links p {
  color: #ffffff;
}
.footer-icon{
  width: 1rem;
  background-color: #ffffff;
  border-radius: 5px;
  margin-inline: .2em;
}
.social-link {
  display: flex;
  align-items: center;
}



/*sign-up page*/

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}
.contact-image {
  width: 60%;
  object-fit: contain;
  order: -1;
  margin-block: 1em;
  
}


.contact-form-heading {
  font-size: 2rem;
  text-align: center;
  
}
.contact-form-intro {
  margin-block: 1em;
}
.contact-input {
  display: block;
  padding: .5em 1em;
  margin-bottom: 1em;
  border-radius: 20px;
  width: 70%;
  
  border: 2px solid #333333;
}
.contact-textarea {
 
  padding: .5em 1em;
  border: 2px solid #333333;
}
.contact-input::-webkit-input-placeholder, .address-input::-webkit-input-placeholder {
  color: #555555;
}
.contact-submit-button {
  border: 2px solid #333333;
  padding: .5em 1em;
  border-radius: 20px;
  
  
}
.contact-submit-button:hover {
  background-color: #dddddd;
  cursor: pointer;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 1em;
  
 
}
.address-input {
  display: block;
  border-radius: 20px;
  padding: .5em 1em;
  border: 2px solid #333333;
  margin-bottom: 1em;
}

.city-select {
  border-radius: 20px;
  padding: .5em;
  font-size: 1rem;
  display: block;
  border: 2px solid #333333;
}
.city-select:focus-visible {
  outline: 3px solid #bbd5ff;
}
.popover-message {
  display: block;
  margin-block: 1em;
  color: #e12938;
  font-size: 0.9rem;
}
.contact-submit-button:disabled {
  border-color: #aaaaaa;
}
.contact-submit-button:disabled:hover {
  cursor: not-allowed;
}
.contact-submit-button:disabled:active {
  transform: none;
}
.contact-submit-button:disabled:hover + .popover-message {
  display: block;
}

@media (min-width:600px){
 
  .navbar{
    flex-direction: row;
    justify-content: space-around;  
  }
  .nav-links{
    flex-direction: row;
  }
 


  .social-links{
    flex-direction: row;
    justify-content: center;
    gap: 1em;
  }
  .statistics{
    flex-direction: row;
  }
  .info-image{
    width: 50%;
  }
}

@media (min-width:800px){
  .social-links{
    gap: 2em;
  }
  .nav-link{
    font-size: 1.5rem;
  }
  .hero-section{
    flex-direction: row;
    justify-content: space-around;
  }
  .hero-content{
    order: -1;
  }
  .hero-image{
    max-width: 400px;
  }
  .info-text, .about-text, .hero-text, .about-link, .hero-link, .submit-button, .contact-form-intro, .popover-message,
  .radio-container, .contact-submit-button {
    font-size: 1.2rem;
  }
  .contact-form-section{
    flex-direction: row;
    gap: 1em;
    justify-content: space-around;
  }
  .contact-image{
    order: 1;
    width: 40%;
    max-width: 500px;
  }
  label{
    font-size: 1.2rem;
  }
}